.panel-default>.panel-heading, .panel-footer {
	background-color: #d76b5e;
}

.table>tbody>tr:hover {
	background-color: #fff4f4;
}

.panel {
	margin-bottom: 25px;
}

form>.panel-default {
	width: 1310px;
	margin: 20px auto;
}

.form .form-group {
	padding: 5px 50px;
}